## Can recent performance can predict stock movements?

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime

%matplotlib inline

In [2]:
#import ^GSPC.csv file (from Yahoo Finance)
prices = pd.read_csv('../data/GSPC.csv')
prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 755 entries, 0 to 754
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    755 non-null    object
 1   Open    755 non-null    float64
 2   High    755 non-null    float64
 3   Low     755 non-null    float64
 4   Close   755 non-null    float64
 5   Gain    755 non-null    float64
 6   % Gain  755 non-null    float64
dtypes: float64(6), object(1)
memory usage: 41.4+ KB

In [3]:
#drop columns
prices = prices.drop(columns=['High','Low'])
prices.head()

        Date     Open    Close   Gain  % Gain
0  1/22/2018  2809.16  2832.97  23.81  0.0085
1  1/23/2018  2835.05  2839.13   4.08  0.0014
2  1/24/2018  2845.42  2837.54  -7.88 -0.0028
3  1/25/2018  2846.24  2839.25  -6.99 -0.0025
4  1/26/2018  2847.48  2872.87  25.39  0.0089

In [4]:
#rename columns
prices = prices.rename(columns = {'Date':'date', 'Open':'open', 'Close':'close', 'Gain': 'gain', '% Gain': 'x_gain'})
prices.head()

        date     open    close   gain  x_gain
0  1/22/2018  2809.16  2832.97  23.81  0.0085
1  1/23/2018  2835.05  2839.13   4.08  0.0014
2  1/24/2018  2845.42  2837.54  -7.88 -0.0028
3  1/25/2018  2846.24  2839.25  -6.99 -0.0025
4  1/26/2018  2847.48  2872.87  25.39  0.0089

In [5]:
prices['pos_neg'] = ''
for ind, row in prices.iterrows():
    if row['x_gain'] > 0:
            prices.loc[ind, 'pos_neg'] = 'pos'
    else:
        prices.loc[ind, 'pos_neg'] = 'neg'
prices.head()

        date     open    close   gain  x_gain pos_neg
0  1/22/2018  2809.16  2832.97  23.81  0.0085     pos
1  1/23/2018  2835.05  2839.13   4.08  0.0014     pos
2  1/24/2018  2845.42  2837.54  -7.88 -0.0028     neg
3  1/25/2018  2846.24  2839.25  -6.99 -0.0025     neg
4  1/26/2018  2847.48  2872.87  25.39  0.0089     pos

In [6]:
#y.groupby((y != y.shift()).cumsum()).cumcount() + 1
#https://stackoverflow.com/questions/27626542/counting-consecutive-positive-value-in-python-array

prices['streak'] = prices['pos_neg'].groupby((prices['pos_neg'] != prices['pos_neg'].shift()).cumsum()).cumcount() + 1
prices.head()

        date     open    close   gain  x_gain pos_neg  streak
0  1/22/2018  2809.16  2832.97  23.81  0.0085     pos       1
1  1/23/2018  2835.05  2839.13   4.08  0.0014     pos       2
2  1/24/2018  2845.42  2837.54  -7.88 -0.0028     neg       1
3  1/25/2018  2846.24  2839.25  -6.99 -0.0025     neg       2
4  1/26/2018  2847.48  2872.87  25.39  0.0089     pos       1

In [7]:
#Assign to groups when pos_neg changes
#https://stackoverflow.com/questions/60334671/pandas-dataframe-how-to-find-consecutive-rows-that-meet-some-conditions
prices['g'] = prices['pos_neg'].ne(prices['pos_neg'].shift()).cumsum()
prices.head()

        date     open    close   gain  x_gain pos_neg  streak  g
0  1/22/2018  2809.16  2832.97  23.81  0.0085     pos       1  1
1  1/23/2018  2835.05  2839.13   4.08  0.0014     pos       2  1
2  1/24/2018  2845.42  2837.54  -7.88 -0.0028     neg       1  2
3  1/25/2018  2846.24  2839.25  -6.99 -0.0025     neg       2  2
4  1/26/2018  2847.48  2872.87  25.39  0.0089     pos       1  3

In [8]:
#Use cumsum to find cummulative sums
#https://stackoverflow.com/questions/32890124/pandas-dataframe-running-sum-with-reset/32891081#32891081
prices['cum']= prices.groupby(['g'])['x_gain'].cumsum()
prices.head()

        date     open    close   gain  x_gain pos_neg  streak  g     cum
0  1/22/2018  2809.16  2832.97  23.81  0.0085     pos       1  1  0.0085
1  1/23/2018  2835.05  2839.13   4.08  0.0014     pos       2  1  0.0099
2  1/24/2018  2845.42  2837.54  -7.88 -0.0028     neg       1  2 -0.0028
3  1/25/2018  2846.24  2839.25  -6.99 -0.0025     neg       2  2 -0.0053
4  1/26/2018  2847.48  2872.87  25.39  0.0089     pos       1  3  0.0089

In [9]:
#assign to bins based on % Gain and streak

# use pd.cut instead?
# https://stackoverflow.com/questions/46472809/python-binning-based-on-2-columns-in-pandas

prices['bin'] = ''
for ind, row in prices.iterrows():
    if row['cum'] > 0 and row['cum'] < 0.0025 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = 'A'
    elif row['cum'] >= 0.0025 and row['cum'] < 0.0050 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = 'B'
    elif row['cum'] >= 0.0050 and row['cum'] < 0.0075 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = 'C'
    elif row['cum'] >= 0.0075 and row['cum'] < 0.0100 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = 'D'
    elif row['cum'] >= 0.0100 and row['cum'] < 0.0125 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = 'E'
    elif row['cum'] >= 0.0125 and row['cum'] < 0.0150 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = 'F'
    elif row['cum'] >= 0.0150 and row['cum'] < 0.0175 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = 'G'
    elif row['cum'] >= 0.0175 and row['cum'] < 0.0200 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = 'H'
    elif row['cum'] >= 0.0200 and row['cum'] < 0.0225 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = 'I'
    elif row['cum'] >= 0.0225 and row['cum'] < 0.0250 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = 'J'
    elif row['cum'] >= 0.0250 and row['cum'] < 0.0275 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = 'K'
    elif row['cum'] >= 0.0275 and row['cum'] < 0.0300 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = 'L'
    elif row['cum'] >= 0.0300 and row['cum'] < 0.0325 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = 'M'
    elif row['cum'] >= 0.0325 and row['cum'] < 0.0350 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = 'N'
    elif row['cum'] >= 0.0350 and row['cum'] < 0.0375 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = 'O'
    elif row['cum'] >= 0.0375 and row['cum'] < 0.0400 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = 'P'
    elif row['cum'] >= 0.0400 and row['cum'] < 0.0425 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = 'Q'
    elif row['cum'] >= 0.0425 and row['cum'] < 0.0450 and row['streak'] == 1:        
            prices.loc[ind, 'bin'] = 'R'
    elif row['cum'] >= 0.0450 and row['cum'] < 0.0475 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = 'S'
    elif row['cum'] >= 0.0475 and row['cum'] < 0.0500 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = 'T'
    elif row['cum'] >= 0.0500 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = 'U'
    elif row['cum'] > 0 and row['cum'] < 0.0025 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = 'A2'
    elif row['cum'] >= 0.0025 and row['cum'] < 0.0050 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = 'B2'
    elif row['cum'] >= 0.0050 and row['cum'] < 0.0075 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = 'C2'
    elif row['cum'] >= 0.0075 and row['cum'] < 0.0100 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = 'D2'
    elif row['cum'] >= 0.0100 and row['cum'] < 0.0125 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = 'E2'
    elif row['cum'] >= 0.0125 and row['cum'] < 0.0150 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = 'F2'
    elif row['cum'] >= 0.0150 and row['cum'] < 0.0175 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = 'G2'
    elif row['cum'] >= 0.0175 and row['cum'] < 0.0200 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = 'H2'
    elif row['cum'] >= 0.0200 and row['cum'] < 0.0225 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = 'I2'
    elif row['cum'] >= 0.0225 and row['cum'] < 0.0250 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = 'J2'
    elif row['cum'] >= 0.0250 and row['cum'] < 0.0275 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = 'K2'
    elif row['cum'] >= 0.0275 and row['cum'] < 0.0300 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = 'L2'
    elif row['cum'] >= 0.0300 and row['cum'] < 0.0325 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = 'M2'
    elif row['cum'] >= 0.0325 and row['cum'] < 0.0350 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = 'N2'
    elif row['cum'] >= 0.0350 and row['cum'] < 0.0375 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = 'O2'
    elif row['cum'] >= 0.0375 and row['cum'] < 0.0400 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = 'P2'
    elif row['cum'] >= 0.0400 and row['cum'] < 0.0425 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = 'Q2'
    elif row['cum'] >= 0.0425 and row['cum'] < 0.0450 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = 'R2'
    elif row['cum'] >= 0.0450 and row['cum'] < 0.0475 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = 'S2'
    elif row['cum'] >= 0.0475 and row['cum'] < 0.0500 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = 'T2'
    elif row['cum'] >= 0.0500 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = 'U2'
    elif row['cum'] > 0 and row['cum'] < 0.0025 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = 'A3'
    elif row['cum'] >= 0.0025 and row['cum'] < 0.0050 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = 'B3'
    elif row['cum'] >= 0.0050 and row['cum'] < 0.0075 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = 'C3'
    elif row['cum'] >= 0.0075 and row['cum'] < 0.0100 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = 'D2'
    elif row['cum'] >= 0.0100 and row['cum'] < 0.0125 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = 'E3'
    elif row['cum'] >= 0.0125 and row['cum'] < 0.0150 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = 'F3'
    elif row['cum'] >= 0.0150 and row['cum'] < 0.0175 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = 'G3'
    elif row['cum'] >= 0.0175 and row['cum'] < 0.0200 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = 'H3'
    elif row['cum'] >= 0.0200 and row['cum'] < 0.0225 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = 'I3'
    elif row['cum'] >= 0.0225 and row['cum'] < 0.0250 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = 'J3'
    elif row['cum'] >= 0.0250 and row['cum'] < 0.0275 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = 'K3'
    elif row['cum'] >= 0.0275 and row['cum'] < 0.0300 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = 'L3'
    elif row['cum'] >= 0.0300 and row['cum'] < 0.0325 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = 'M3'
    elif row['cum'] >= 0.0325 and row['cum'] < 0.0350 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = 'N3'
    elif row['cum'] >= 0.0350 and row['cum'] < 0.0375 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = 'O3'
    elif row['cum'] >= 0.0375 and row['cum'] < 0.0400 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = 'P3'
    elif row['cum'] >= 0.0400 and row['cum'] < 0.0425 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = 'Q3'
    elif row['cum'] >= 0.0425 and row['cum'] < 0.0450 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = 'R3'
    elif row['cum'] >= 0.0450 and row['cum'] < 0.0475 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = 'S3'
    elif row['cum'] >= 0.0475 and row['cum'] < 0.0500 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = 'T3'
    elif row['cum'] >= 0.0500 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = 'U3'
    elif row['cum'] > 0 and row['cum'] < 0.0025 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = 'A4'
    elif row['cum'] >= 0.0025 and row['cum'] < 0.0050 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = 'B4'
    elif row['cum'] >= 0.0050 and row['cum'] < 0.0075 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = 'C4'
    elif row['cum'] >= 0.0075 and row['cum'] < 0.0100 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = 'D4'
    elif row['cum'] >= 0.0100 and row['cum'] < 0.0125 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = 'E4'
    elif row['cum'] >= 0.0125 and row['cum'] < 0.0150 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = 'F4'
    elif row['cum'] >= 0.0150 and row['cum'] < 0.0175 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = 'G4'
    elif row['cum'] >= 0.0175 and row['cum'] < 0.0200 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = 'H4'
    elif row['cum'] >= 0.0200 and row['cum'] < 0.0225 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = 'I4'
    elif row['cum'] >= 0.0225 and row['cum'] < 0.0250 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = 'J4'
    elif row['cum'] >= 0.0250 and row['cum'] < 0.0275 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = 'K4'
    elif row['cum'] >= 0.0275 and row['cum'] < 0.0300 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = 'L4'
    elif row['cum'] >= 0.0300 and row['cum'] < 0.0325 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = 'M4'
    elif row['cum'] >= 0.0325 and row['cum'] < 0.0350 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = 'N4'
    elif row['cum'] >= 0.0350 and row['cum'] < 0.0375 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = 'O4'
    elif row['cum'] >= 0.0375 and row['cum'] < 0.0400 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = 'P4'
    elif row['cum'] >= 0.0400 and row['cum'] < 0.0425 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = 'Q4'
    elif row['cum'] >= 0.0425 and row['cum'] < 0.0450 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = 'R4'
    elif row['cum'] >= 0.0450 and row['cum'] < 0.0475 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = 'S4'
    elif row['cum'] >= 0.0475 and row['cum'] < 0.0500 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = 'T4'
    elif row['cum'] >= 0.0500 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = 'U4'
    elif row['cum'] > 0 and row['cum'] < 0.0025 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = 'A5'
    elif row['cum'] >= 0.0025 and row['cum'] < 0.0050 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = 'B5'
    elif row['cum'] >= 0.0050 and row['cum'] < 0.0075 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = 'C2'
    elif row['cum'] >= 0.0075 and row['cum'] < 0.0100 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = 'D5'
    elif row['cum'] >= 0.0100 and row['cum'] < 0.0125 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = 'E5'
    elif row['cum'] >= 0.0125 and row['cum'] < 0.0150 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = 'F5'
    elif row['cum'] >= 0.0150 and row['cum'] < 0.0175 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = 'G5'
    elif row['cum'] >= 0.0175 and row['cum'] < 0.0200 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = 'H5'
    elif row['cum'] >= 0.0200 and row['cum'] < 0.0225 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = 'I5'
    elif row['cum'] >= 0.0225 and row['cum'] < 0.0250 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = 'J5'
    elif row['cum'] >= 0.0250 and row['cum'] < 0.0275 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = 'K5'
    elif row['cum'] >= 0.0275 and row['cum'] < 0.0300 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = 'L5'
    elif row['cum'] >= 0.0300 and row['cum'] < 0.0325 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = 'M5'
    elif row['cum'] >= 0.0325 and row['cum'] < 0.0350 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = 'N5'
    elif row['cum'] >= 0.0350 and row['cum'] < 0.0375 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = 'O5'
    elif row['cum'] >= 0.0375 and row['cum'] < 0.0400 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = 'P5'
    elif row['cum'] >= 0.0400 and row['cum'] < 0.0425 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = 'Q5'
    elif row['cum'] >= 0.0425 and row['cum'] < 0.0450 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = 'R5'
    elif row['cum'] >= 0.0450 and row['cum'] < 0.0475 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = 'S5'
    elif row['cum'] >= 0.0475 and row['cum'] < 0.0500 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = 'T5'
    elif row['cum'] >= 0.0500 and row['streak'] >= 5:
            prices.loc[ind, 'bin'] = 'U5'
    elif row['cum'] >= -0.0025 and row['cum'] < 0.0000 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = '-A'
    elif row['cum'] >= -0.0050 and row['cum'] < -0.0025 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = '-B'
    elif row['cum'] >= -0.0075 and row['cum'] < -0.0050 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = '-C'
    elif row['cum'] >= -0.0100 and row['cum'] < -0.0075 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = '-D'
    elif row['cum'] >= -0.0125 and row['cum'] < -0.0100 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = '-E'
    elif row['cum'] >= -0.0150 and row['cum'] < -0.0125 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = '-F'
    elif row['cum'] >= -0.0175 and row['cum'] < -0.0150 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = '-G'
    elif row['cum'] >= -0.0200 and row['cum'] < -0.0175 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = '-H'
    elif row['cum'] >= -0.0225 and row['cum'] < -0.0200 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = '-I'
    elif row['cum'] >= -0.0250 and row['cum'] < -0.0225 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = '-J'
    elif row['cum'] >= -0.0275 and row['cum'] < -0.0250 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = '-K'
    elif row['cum'] >= -0.0300 and row['cum'] < -0.0275 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = '-L'
    elif row['cum'] >= -0.0325 and row['cum'] < -0.0300 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = '-M'
    elif row['cum'] >= -0.0350 and row['cum'] < -0.0325 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = '-N'
    elif row['cum'] >= -0.0375 and row['cum'] < -0.0350 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = '-O'
    elif row['cum'] >= -0.0400 and row['cum'] < -0.0375 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = '-P'
    elif row['cum'] >= -0.0425 and row['cum'] < -0.0400 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = '-Q'
    elif row['cum'] >= -0.0450 and row['cum'] < -0.0425 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = '-R'
    elif row['cum'] >= -0.0475 and row['cum'] < -0.0450 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = '-S'
    elif row['cum'] >= -0.0500 and row['cum'] < -0.0475 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = '-T'
    elif row['cum'] < -0.0500 and row['streak'] == 1:
            prices.loc[ind, 'bin'] = '-U'
    elif row['cum'] >= -0.0025 and row['cum'] < 0.0000 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = '-A2'
    elif row['cum'] >= -0.0050 and row['cum'] < -0.0025 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = '-B2'
    elif row['cum'] >= -0.0075 and row['cum'] < -0.0050 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = '-C2'
    elif row['cum'] >= -0.0100 and row['cum'] < -0.0075 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = '-D2'
    elif row['cum'] >= -0.0125 and row['cum'] < -0.0100 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = '-E2'
    elif row['cum'] >= -0.0150 and row['cum'] < -0.0125 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = '-F2'
    elif row['cum'] >= -0.0175 and row['cum'] < -0.0150 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = '-G2'
    elif row['cum'] >= -0.0200 and row['cum'] < -0.0175 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = '-H2'
    elif row['cum'] >= -0.0225 and row['cum'] < -0.0200 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = '-I2'
    elif row['cum'] >= -0.0250 and row['cum'] < -0.0225 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = '-J2'
    elif row['cum'] >= -0.0275 and row['cum'] < -0.0250 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = '-K2'
    elif row['cum'] >= -0.0300 and row['cum'] < -0.0275 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = '-L2'
    elif row['cum'] >= -0.0325 and row['cum'] < -0.0300 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = '-M2'
    elif row['cum'] >= -0.0350 and row['cum'] < -0.0325 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = '-N2'
    elif row['cum'] >= -0.0375 and row['cum'] < -0.0350 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = '-O2'
    elif row['cum'] >= -0.0400 and row['cum'] < -0.0375 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = '-P2'
    elif row['cum'] >= -0.0425 and row['cum'] < -0.0400 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = '-Q2'
    elif row['cum'] >= -0.0450 and row['cum'] < -0.0425 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = '-R2'
    elif row['cum'] >= -0.0475 and row['cum'] < -0.0450 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = '-S2'
    elif row['cum'] >= -0.0500 and row['cum'] < -0.0500 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = '-T2'
    elif row['cum'] < -0.0500 and row['streak'] == 2:
            prices.loc[ind, 'bin'] = '-U2'
    elif row['cum'] >= -0.0025 and row['cum'] < 0.0000 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = '-A3'
    elif row['cum'] >= -0.0050 and row['cum'] < -0.0025 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = '-B3'
    elif row['cum'] >= -0.0075 and row['cum'] < -0.0050 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = '-C3'
    elif row['cum'] >= -0.0100 and row['cum'] < -0.0075 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = '-D2'
    elif row['cum'] >= -0.0125 and row['cum'] < -0.0100 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = '-E3'
    elif row['cum'] >= -0.0150 and row['cum'] < -0.0125 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = '-F3'
    elif row['cum'] >= -0.0175 and row['cum'] < -0.0150 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = '-G3'
    elif row['cum'] >= -0.0200 and row['cum'] < -0.0175 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = '-H3'
    elif row['cum'] >= -0.0225 and row['cum'] < -0.0200 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = '-I3'
    elif row['cum'] >= -0.0250 and row['cum'] < -0.0225 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = '-J3'
    elif row['cum'] >= -0.0275 and row['cum'] < -0.0250 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = '-K3'
    elif row['cum'] >= -0.0300 and row['cum'] < -0.0275 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = '-L3'
    elif row['cum'] >= -0.0325 and row['cum'] < -0.0300 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = '-M3'
    elif row['cum'] >= -0.0350 and row['cum'] < -0.0325 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = '-N3'
    elif row['cum'] >= -0.0375 and row['cum'] < -0.0400 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = '-O3'
    elif row['cum'] >= -0.0400 and row['cum'] < -0.0425 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = '-P3'
    elif row['cum'] >= -0.0425 and row['cum'] < -0.0450 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = '-Q3'
    elif row['cum'] >= -0.0450 and row['cum'] < -0.0475 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = '-R3'
    elif row['cum'] >= -0.0475 and row['cum'] < -0.0500 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = '-S3'
    elif row['cum'] >= -0.0500 and row['cum'] < -0.0525 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = '-T3'
    elif row['cum'] < -0.0500 and row['streak'] == 3:
            prices.loc[ind, 'bin'] = '-U3'
    elif row['cum'] >= -0.0025 and row['cum'] < 0.0000 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = '-A4'
    elif row['cum'] >= -0.0050 and row['cum'] < -0.0025 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = '-B4'
    elif row['cum'] >= -0.0075 and row['cum'] < -0.0050 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = '-C4'
    elif row['cum'] >= -0.0100 and row['cum'] < -0.0075 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = '-D4'
    elif row['cum'] >= -0.0125 and row['cum'] < -0.0100 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = '-E4'
    elif row['cum'] >= -0.0150 and row['cum'] < -0.0125 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = '-F4'
    elif row['cum'] >= -0.0175 and row['cum'] < -0.0150 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = '-G4'
    elif row['cum'] >= -0.0200 and row['cum'] < -0.0175 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = '-H4'
    elif row['cum'] >= -0.0225 and row['cum'] < -0.0200 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = '-I4'
    elif row['cum'] >= -0.0250 and row['cum'] < -0.0225 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = '-J4'
    elif row['cum'] >= -0.0275 and row['cum'] < -0.0250 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = '-K4'
    elif row['cum'] >= -0.0300 and row['cum'] < -0.0275 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = '-L4'
    elif row['cum'] >= -0.0325 and row['cum'] < -0.0300 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = '-M4'
    elif row['cum'] >= -0.0350 and row['cum'] < -0.0325 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = '-N4'
    elif row['cum'] >= -0.0375 and row['cum'] < -0.0350 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = '-O4'
    elif row['cum'] >= -0.0400 and row['cum'] < -0.0375 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = '-P4'
    elif row['cum'] >= -0.0425 and row['cum'] < -0.0400 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = '-Q4'
    elif row['cum'] >= -0.0450 and row['cum'] < -0.0425 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = '-R4'
    elif row['cum'] >= -0.0475 and row['cum'] < -0.0450 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = '-S4'
    elif row['cum'] >= -0.0500 and row['cum'] < -0.0475 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = '-T4'
    elif row['cum'] < -0.0500 and row['streak'] == 4:
            prices.loc[ind, 'bin'] = '-U4'
    elif row['cum'] >= -0.0025 and row['cum'] < 0.0000 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = '-A5'
    elif row['cum'] >= -0.0050 and row['cum'] < -0.0025 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = '-B5'
    elif row['cum'] >= -0.0075 and row['cum'] < -0.0050 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = '-C2'
    elif row['cum'] >= -0.0100 and row['cum'] < -0.0075 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = '-D5'
    elif row['cum'] >= -0.0125 and row['cum'] < -0.0100 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = '-E5'
    elif row['cum'] >= -0.0150 and row['cum'] < -0.0125 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = '-F5'
    elif row['cum'] >= -0.0175 and row['cum'] < -0.0150 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = '-G5'
    elif row['cum'] >= -0.0200 and row['cum'] < -0.0175 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = '-H5'
    elif row['cum'] >= -0.0225 and row['cum'] < -0.0200 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = '-I5'
    elif row['cum'] >= -0.0250 and row['cum'] < -0.0225 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = '-J5'
    elif row['cum'] >= -0.0275 and row['cum'] < -0.0250 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = '-K5'
    elif row['cum'] >= -0.0300 and row['cum'] < -0.0275 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = '-L5'
    elif row['cum'] >= -0.0325 and row['cum'] < -0.0300 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = '-M5'
    elif row['cum'] >= -0.0350 and row['cum'] < -0.0325 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = '-N5'
    elif row['cum'] >= -0.0375 and row['cum'] < -0.0350 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = '-O5'
    elif row['cum'] >= -0.0400 and row['cum'] < -0.0375 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = '-P5'
    elif row['cum'] >= -0.0425 and row['cum'] < -0.0400 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = '-Q5'
    elif row['cum'] >= -0.0450 and row['cum'] < -0.0425 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = '-R5'
    elif row['cum'] >= -0.0475 and row['cum'] < -0.0450 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = '-S4'
    elif row['cum'] >= -0.0500 and row['cum'] < -0.0475 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = '-T5'
    elif row['cum'] < -0.0500 and row['streak'] == 5:
            prices.loc[ind, 'bin'] = '-U5'
    else:
        prices.loc[ind, 'bin'] ='z'
prices.head(25)

,date,open,close,gain,x_gain,pos_neg,streak,g,cum,bin
0,1/22/2018,2809.16,2832.97,23.81,0.0085,pos,1,1,0.0085,D
1,1/23/2018,2835.05,2839.13,4.08,0.0014,pos,2,1,0.0099,D2
2,1/24/2018,2845.42,2837.54,-7.88,-0.0028,neg,1,2,-0.0028,-B
3,1/25/2018,2846.24,2839.25,-6.99,-0.0025,neg,2,2,-0.0053,-C2
4,1/26/2018,2847.48,2872.87,25.39,0.0089,pos,1,3,0.0089,D
5,1/29/2018,2867.23,2853.53,-13.70,-0.0048,neg,1,4,-0.0048,-B
6,1/30/2018,2832.74,2822.43,-10.31,-0.0036,neg,2,4,-0.0084,-D2
7,1/31/2018,2832.41,2823.81,-8.60,-0.0030,neg,3,4,-0.0114,-E3
8,2/1/2018,2816.45,2821.98,5.53,0.0020,pos,1,5,0.0020,A
9,2/2/2018,2808.92,2762.13,-46.79,-0.0167,neg,1,6,-0.0167,-G
10,2/5/2018,2741.06,2648.94,-92.12,-0.0336,neg,2,6,-0.0503,-U2
11,2/6/2018,2614.78,2695.14,80.36,0.0307,pos,1,7,0.0307,M
12,2/7/2018,2690.95,2681.66,-9.29,-0.0035,neg,1,8,-0.0035,-B
13,2/8/2018,2685.01,2581.00,-104.01,-0.0387,neg,2,8,-0.0422,-Q2
14,2/9/2018,2601.78,2619.55,17.77,0.0068,pos,1,9,0.0068,C
15,2/12/2018,2636.75,2656.00,19.25,0.0073,pos,2,9,0.0141,F2
16,2/13/2018,2646.27,2662.94,16.67,0.0063,pos,3,9,0.0204,I3
17,2/14/2018,2651.21,2698.63,47.42,0.0179,pos,4,9,0.0383,P4
18,2/15/2018,2713.46,2731.20,17.74,0.0065,pos,5,9,0.0448,R5
19,2/16/2018,2727.14,2732.22,5.08,0.0019,pos,6,9,0.0467,z
20,2/20/2018,2722.99,2716.26,-6.73,-0.0025,neg,1,10,-0.0025,-A
21,2/21/2018,2720.53,2701.33,-19.20,-0.0071,neg,2,10,-0.0096,-D2
22,2/22/2018,2710.42,2703.96,-6.46,-0.0024,neg,3,10,-0.0120,-E3
23,2/23/2018,2715.80,2747.30,31.50,0.0116,pos,1,11,0.0116,E
24,2/26/2018,2757.37,2779.60,22.23,0.0081,pos,2,11,0.0197,H2

In [10]:
#new column to shift cum values up one row
#df['gdp'] = df['gdp'].shift(-1)
prices['next_day'] = prices['cum'].shift(-1)
prices['p_n'] = prices['pos_neg'].shift(-1)
prices.head()

,date,open,close,gain,x_gain,pos_neg,streak,g,cum,bin,next_day,p_n
0,1/22/2018,2809.16,2832.97,23.81,0.0085,pos,1,1,0.0085,D,0.0099,pos
1,1/23/2018,2835.05,2839.13,4.08,0.0014,pos,2,1,0.0099,D2,-0.0028,neg
2,1/24/2018,2845.42,2837.54,-7.88,-0.0028,neg,1,2,-0.0028,-B,-0.0053,neg
3,1/25/2018,2846.24,2839.25,-6.99,-0.0025,neg,2,2,-0.0053,-C2,0.0089,pos
4,1/26/2018,2847.48,2872.87,25.39,0.0089,pos,1,3,0.0089,D,-0.0048,neg

In [18]:
#g = df.groupby('date')['values']
#df = pd.concat([g.value_counts(), 
#                g.value_counts(normalize=True).mul(100)],axis=1, keys=('counts','percentage'))
#print (df)

g = prices.groupby('bin')['p_n']
df_1 = pd.concat([g.value_counts(), 
                g.value_counts(normalize=True).mul(100)],axis=1, keys=('counts','percentage')).reset_index()

df_1

     bin  p_n  counts  percentage
0     -A  neg      42   58.333333
1     -A  pos      30   41.666667
2    -A2  neg       7   58.333333
3    -A2  pos       5   41.666667
4    -A3  pos       1  100.000000
..   ...  ...     ...         ...
188   U3  neg       1  100.000000
189   U5  pos       3   75.000000
190   U5  neg       1   25.000000
191    z  neg      13   50.000000
192    z  pos      13   50.000000

[193 rows x 4 columns]

In [19]:
#new series and convert to df
#df.groupby('Column1')['Column2'].mean()

df_2 = prices.groupby('bin')['next_day'].mean().to_frame().reset_index()
df_2

     bin  next_day
0     -A -0.002069
1    -A2 -0.001300
2    -A3  0.003900
3     -B -0.002672
4    -B2 -0.002640
..   ...       ...
122    U -0.048800
123   U2  0.022433
124   U3 -0.005600
125   U5  0.046950
126    z -0.005769

[127 rows x 2 columns]

In [20]:
perf = pd.merge(df_1, df_2, left_on = 'bin', right_on = 'bin', how = 'left')
perf

     bin  p_n  counts  percentage  next_day
0     -A  neg      42   58.333333 -0.002069
1     -A  pos      30   41.666667 -0.002069
2    -A2  neg       7   58.333333 -0.001300
3    -A2  pos       5   41.666667 -0.001300
4    -A3  pos       1  100.000000  0.003900
..   ...  ...     ...         ...       ...
188   U3  neg       1  100.000000 -0.005600
189   U5  pos       3   75.000000  0.046950
190   U5  neg       1   25.000000  0.046950
191    z  neg      13   50.000000 -0.005769
192    z  pos      13   50.000000 -0.005769

[193 rows x 5 columns]

## Steps not needed currently

In [ ]:
#find highest cummulative sums
#https://stackoverflow.com/questions/47924400/python-pandas-assign-last-value-of-dataframe-group-to-all-entries-of-that-group

prices['b_new'] = prices.groupby('g')['des'].transform('last')
prices.head()

In [ ]:
#only keep highest cummulatives sums
prices['new_col'] = ''
for ind, row in prices.iterrows():
    if row['des'] == row['b_new']:
            prices.loc[ind, 'new_col'] = row['des']
    else:
        prices.loc[ind, 'new_col'] = ''
prices.head()

In [ ]:
#drop unnecessary columns
prices = prices.drop(columns=['pos_neg','des','b_new','g'])
prices.head(25)

In [ ]:
#could be helpful?

period = 5
prices['less_than_zero'] = (prices['% Gain']
                        .rolling(window=period, min_periods=period)
                        .agg(lambda x: (x < 0).sum()))

prices['greater_than_zero'] = (prices['% Gain']
                          .rolling(window=period,min_periods=period)
                          .agg(lambda x: (x > 0).sum()))
prices.head(25)